---
Checks: >
    *,
    -altera-*,
    -fuchsia-overloaded-operator,
    -llvm-header-guard,
    -llvmlibc-restrict-system-libc-headers,
    -llvmlibc-callee-namespace,
    -modernize-use-trailing-return-type,
    -modernize-concat-nested-namespaces,
WarningsAsErrors: '*'
HeaderFilterRegex: ''
CheckOptions:
    - key:   readability-identifier-length.IgnoredVariableNames
      value: '[ijkxyzabc]'
...
